p{
    width: 600px;
    text-align: justify;

}
.sobre{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#retorno{
    margin-left: 10px;
    margin-top: 50px;
}

.info{
    margin-left: 150px;  
}

#ocorr{
    margin-top: 30px;
}

table{
    border-collapse: collapse;
    width: 600px;
    text-align: center;
    margin-top: 20px;
}

td,th{
    border: 2px solid black;
}

.horse{
    width: 300px;
    height: 200px;
    margin-left: 100px;
    border-radius: 10px;
}
.dark{
    margin-top: -200px;
    margin-left: 1000px;
    
}

figcaption{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.animacao{
    margin-right: 550px;
    font-size: 3vh;
    color:  #158A82;
    white-space: nowrap;
    -webkit-text-stroke: 0.3vw white;
}

.animacao::before{
    content: attr(data-text);
    position: absolute;
    color: black;
    -webkit-text-stroke: 0vw white;
    border-right: 2px solid black;
    overflow: hidden;
    animation: animate 6s infinite normal;
}

@keyframes animate{
    from{
        width: 0;
    }
    to{
        width: 18em;
    }
}


@media (max-width: 800px){
    .sobre{
        margin-left: 10px;
    }
    p{
        width: 400px;
    }
    table{
        width: 300px;
    }
    .info{
        margin-left: 10px;  
    }
    
  }